<DOCTYPE html>
<head>
  <%- include header.ejs %>
</head>

<body>
  <%- include nav.ejs %>

  <h1>Individual Statistics</h1>

  <div class="container">

    <ul class="nav nav-tabs">
      <li class="active"> <a href="#1" data-toggle="tab">Tab 1</a>
      <li><a href="#2" data-toggle="tab">Tab 2</a>
      <li><a href="#3" data-toggle="tab">Tab 3</a>
    </ul>

    <div class="tab-content" id="chart-tabs">
      <div class="tab-pane active" id="1">
        <p>I am tab 1</p>
      </div>
      <div class="tab-pane" id="2">
        <p>I am tab 2</p>
      </div>
      <div class="tab-pane" id="3">
        <p>I am tab 3</p>
      </div>
    </div>
  </div>

  <%- include footer.ejs %>
</body>

