body {
  padding-top: 50px;
}

.navbar-fixed-top {
  border: 0;
}

#chart-tabs .tab-pane {
  background-color: #FF0000;
}

#chart-tabs .tab-pane * {
}

#container-dropdown {
  margin-top: 5px;
  margin-bottom: 15px;
}

#container-dropdown .dropdown{
  float: right;
}
